// COLOURS
$primary-colour: #6E48D6;
$primary-colour-light: #8255FC;
$primary-colour-dark: #5A3BAF;

$secondary-colour-light: #2998ff;
$secondary-colour-dark: #5643fa;

$tertiary-colour-light: #7ed56f;
$tertiary-colour-dark: #28b485;

$grey: #777;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-dark-1: #999;
$grey-dark-2: #333;

$white: #fff;
$black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// RESPONSIVE BREAKPOINTS
$breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// GENERIC
$border-radius-sm: .5rem;
$border-radius-md: 2rem;
$border-radius-lg: 5rem;
$border-radius-xl: 10rem;